/* Global Styles */

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

/* To ensure that font sizes are proportionate to each other: www.modularscale.com */

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 3.375rem;
    line-height: normal;
}

h3 {
    font-size: 2.25rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1rem;
    line-height: normal;
}

p { 
    font-size:1.5rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    /* ^ this makes it center */
}

/* NAV STYLES */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    align-items: center;
}

/* Navigation links style */
nav a {
    color: black;
    text-decoration: none;
    /* Remove underline from links */
}

/* Change the color of links on hover */
nav a:hover {
    color: #FA4A0C;
    /* Light grey background on hover */
}

/* styling the orientation of navigation */
nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 100px;
}

nav ul li {
    height: 100%;
}

/* SKIP LINKS */
.skip-links{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .skip-links a{
    position: absolute;
    top: -3em;
    background-color: black;
    color:white;
    padding: .5em 1em;
    font-weight: bold;
  }
  /* display skip link when user is focused on a link */
  .skip-links a:focus{
    top: 0;
  }


/* BANNER STYLES  */
.banner {
    position: relative;
    background-image: url(../images/food_app_banner.jpeg);
    background-position: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: white;
}



.download-app {
    background-image: url(../images/food_app_footer_image.jpeg);
    background-position: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: white;
}

 /* BANNER STYLES 2 */
 .banner {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    text-align: center; 
    height: 100vh; 
    padding: 20px; /* Adds some padding around the content */
}


.centered-heading {
    text-align: center;
}
 /* BUTTON STYLES */
 .playstore {
    font-family: 'Open Sans', sans-serif;
    background-color: #FA4A0C;
    color: white;
    padding: 1em;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    width: 10%; 
    cursor: pointer;
}

.appstore {
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
    color: white;
    padding: 1em;
    font-size: 16px;
    border-radius: 25px;
    width: 12%; 
    border: 2px solid #E8E8E8;
    cursor: pointer;
}

/* Ensuring link containers do not disrupt button styles */
.app-links a {
    margin: 10px; /* Adds space between the buttons */
    text-decoration: none; /* Removes underline from links */
}

/* Adjustments for button responsiveness */
.app-links button {
    min-width: 150px; 
}

@media (max-width: 768px) {
    /* Adjusts button width for smaller screens */
    .playstore, .appstore {
        width: auto; /* Allows buttons to adjust width based on their content */
        padding: 10px 20px; /* Adjusts padding for better visibility on small screens */
    }
}

/* styling the phones to overlay over banner */
.phones-overlay {
    position: absolute;
    top: 155%; /* Position the top of the phones image at 50% of the banner height */
    left: 45%; /* Position the left side of the phones image at 50% of the banner width */
    transform: translate(-50%, -50%) translateY(-25%); /* Center the phones image vertically and moves it up slightly */
    z-index: 1;
}

/* LINE */
hr {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 650px;
    }

   
    /* STEPS SECTION STYLES */
.steps-section {
    width: 100%; 
    margin-top: 150px; 
}

.step {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Space between steps */
}

.step .content {
    flex: 1; /* Ensures content takes up the available space */
}

.step:nth-child(odd) .content {
    order: 1; /* Keeps content on the right for odd steps */
}

.step:nth-child(even) .content {
    flex-direction: row-reverse; /* Reverses the order for even steps */
}

.step img {
    width: 50%; 
    height: auto; 
    margin: 0 20px; /* Adds some space between the image and the text */
}

.steps-section h3 {
    color: black;
}

.steps-section h4 {
    color: #FA4A0C;
}

.steps-section p {
    color: #737373;
}


/* BOTTOM BANNER STYLE */

    .download-app {
        display: flex;
        flex-direction: column; /* Aligns children elements vertically */
        justify-content: center; /* Centers children vertically in the container */
        align-items: center; /* Centers children horizontally in the container */
        text-align: center; /* Ensures the text inside the flex items is also centered */
        padding: 20px; /* Adds some padding around the content */
    }
    
    
    .playstore, .appstore {
        font-family: 'Open Sans', sans-serif;
        color: white;
        padding: 1em;
        font-size: 16px;
        border-radius: 25px;
        cursor: pointer;
    }
    
    .playstore {
        background-color: #FA4A0C;
        border: none;
        width: 10%; 
    }
    
    .appstore {
        background-color: transparent;
        border: 2px solid #E8E8E8;
        width: 12%; 
    }
    
    /* Styling for links wrapping the buttons, adding space */
    .download-app a {
        margin: 10px; /* Adds space between the buttons */
        text-decoration: none; /* Removes underline from links */
    }
    
    /* Responsive adjustments for the buttons */
    .download-app button {
        min-width: 150px; /* Ensures buttons have a minimum width*/
    }
    
    @media (max-width: 768px) {
        /* Adjusts button width for smaller screens */
        .download-app .playstore, .download-app .appstore {
            width: auto; /* Allows buttons to adjust width  */
            padding: 10px 20px; /* Adjusts padding for better visibility on small screens */
        }
    }
    



/* FOOTER STYLES */

    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    
    .footer-logo, .footer-social-media-icon, .footer-copyright {
        flex: 1;
    }
    
    .footer-copyright p {
        color: #5C5C5C; /* Sets the text color */
    font-size: 0.8rem; /* Sets the font size to a smaller value*/
    margin-right: 50px;
    }

    .footer-social-media-icon {
        display: flex;
        justify-content: center;
        gap: 15px; /* Adjust gap between icons */
    }
    
    /* Ensure the footer content doesn't get too squished on smaller screens */
    @media (max-width: 600px) {
        .footer-container {
            flex-direction: column;
            align-items: center;
        }
        
        .footer-logo, .footer-social-media-icon, .footer-copyright {
            margin-bottom: 10px;
        }
    
        .footer-social-media-icon {
            flex-direction: row;
        }

       
    }
    